<div class="PageLarge">
   {% section 'page-hero' %}

  <div class="PageContent Rte PageRoute--{{ page.handle }}">
     <h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1" style="text-align: center;"><strong>Why Subscribe ?</strong></h2>
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
  <div class="PageContent-Subscription-Block">
     <img src="https://cdn.shopify.com/s/files/1/0470/6612/0345/files/1_0157c646-9428-49ae-ac57-242633bff3db.png?v=1662150298">
    <p>
      Easy way to gift! Fresh flowers are always the right answer. Beautiful, meaningful and sentimental. They're perfect for any occasion.
    </p>
  </div>
  <div class="PageContent-Subscription-Block">
      <img src="https://cdn.shopify.com/s/files/1/0470/6612/0345/files/2_7990286a-c3a1-470b-aff4-29abcaef2ebf.png?v=1662150298">
    <p>
      Enjoy free shipping on all floral bouquet subscriptions!
    </p>
  </div>
  <div class="PageContent-Subscription-Block">
       <img src="https://cdn.shopify.com/s/files/1/0470/6612/0345/files/3_aa16fa1b-a86c-4dd1-8219-446ae2a177aa.png?v=1662150298">
    <p>
      Pick your frequency, with options from weekly to once a month. Customize your subscription once and let us do the rest.
    </p>
  </div>
</div>

      {% section 'collection-list' %}

    <h2 style="text-align: center;"><strong>Need some help?</strong></h2>
    <div>
      <h3>How does payment work?</h3>
      <p>For ongoing subscriptions, payment is automatically taken from your nominated account 7 days before delivery. For our 3, 6 or 12-month subscriptions, we'll take the full payment on the day you sign up for it. You can pause or redirect your delivery any time for both subscription types.</p>
          <h3>When are bouquets sent?</h3>
      <p>When you buy a monthly subscription, we'll send a new bouquet every 28 days. You can also choose to have even more regular deliveries: we offer 7 and 14-day options too!</p>
       <h3>Where do you deliver to?</h3>
      <p>Subscriptions are only available for Edmonton, St. Albert, and Sherwood Park. Any subscriptions outside of our delivery zone will be refunded and cancelled. Please contact us if you are not sure if your address is available.</p>
    </div>

    
  </div>

  {% section 'instafeed' %}
</div>

<style>
  .PageContent-Subscription-Block {
    flex-basis: 33%;
  }
  .PageContent-Subscription-Block {
    text-align: center;
    margin-bottom: 0;
  }
  .PageContent-Subscription-Block img {
  max-width: 75px;
    margin: 1rem auto;
  }
  @media screen and (max-width: 678px) {
      .PageContent-Subscription-Block {
    flex-basis: 100%;
        margin-bottom:1.6rem;
  }
  }
</style>