<div class="PageLarge">
   {% section 'page-hero' %}

  <div class="PageContent Rte PageRoute--{{ page.handle }}">
    {{ page.content }}
    {% section 'page-about-us-template' %}
  </div>

  {% section 'instafeed' %}
</div>