<div class="PageLarge">
   {% section 'page-hero' %}

  <div class="PageContent Rte PageRoute--{{ page.handle }}">
    <h1 style="text-align: center;"><strong>FLOWERS BY BREW+BLOOM</strong></h1>
<div style="text-align: center;">We specialize in flower delivery in the Edmonton and surrounding area. Make someone's day by sending flowers, and gifts same-day or next-day. Ordering flowers online has never been easier.</div>

 <div style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 2rem;">
<div class="PageContent-Shop-Block">
<div class="PageContent-Shop-Block-Content" style="display: flex; margin-bottom: 1.6em;">
     <img src="https://cdn.shopify.com/s/files/1/0470/6612/0345/files/1_104a7800-23da-416f-98a6-c08f6f6acc90.png?v=1662150270">
  <div>
<p style="text-transform: uppercase; margin-bottom: 0;"><b>Convenient Local Delivery</b></p>
<span>Edmonton, St. Albert, and Sherwood Park</span>
  </div>
</div>
<div class="PageContent-Shop-Block-Content" style="display: flex; margin-bottom: 1.6em;">
  <img src="https://cdn.shopify.com/s/files/1/0470/6612/0345/files/4_866ea057-48b5-4839-9ca0-ab2b7f8987c2.png?v=1662150270">
  <div>
    
<p style="text-transform: uppercase; margin-bottom: 0;"><b>Fresh and in season flowers</b></p>
<span>Long-lasting blooms</span>
  </div></div>
</div>
<div class="PageContent-Shop-Block">
<div class="PageContent-Shop-Block-Content" style="margin-bottom: 1.6em;">
    <img src="https://cdn.shopify.com/s/files/1/0470/6612/0345/files/2_46f800b8-5502-4c9b-af28-4de5fd5bc00a.png?v=1662150270">
  <div>
    
<p style="text-transform: uppercase; margin-bottom: 0;"><b>Free delivery for all orders over $100</b></p>
<span>Same and next-day delivery available</span></div></div>
<div class="PageContent-Shop-Block-Content" >
      <img src="https://cdn.shopify.com/s/files/1/0470/6612/0345/files/3_28dde133-4df0-4c9c-878a-3f72e9a77c97.png?v=1662150270">
  <div>
    
<p style="text-transform: uppercase; margin-bottom: 0;"><b>Order in a few clicks!</b></p>
<span>Ordering flowers has never been easier</span></div></div>
</div>
</div>
  </div>
  {% comment %}
  {% section 'list-collections-template' %}
  {% endcomment %}
  {% section 'featured-collections' %}
  {% section 'text-with-image-block' %}
  {% comment %}
  {% section 'collection-list' %}
  {% endcomment %}
  {% section 'instafeed' %}
</div>

<style>
.PageContent-Shop-Block {
  flex-basis: 50%;
}

  .PageContent-Shop-Block .PageContent-Shop-Block-Content {
    display: flex;
    align-items:center;
    margin-bottom: 1.6em;
  }
  .PageContent-Shop-Block img{
        margin: 0;
    max-width: 100px;
  }
  @media screen and (max-width: 678px) {
.PageContent-Shop-Block {
  flex-basis: 100%;
}
</style>