<div class="PageLarge">
   {% section 'page-hero' %}
{% section 'page-spaces-template' %}

  <div class="PageContent Rte PageRoute--{{ page.handle }}">
    <div class="CollectionList CollectionList--grid">
      
        </table>

        </div>
      </div>
    </div>
  </div>
  {% section 'instafeed' %}
</div>