<div class="PageLarge">
  {% section 'page-hero' %}

  <div class="PageContent Rte PageRoute--{{ page.handle }}">

    {{ page.content }}

    <div class="CollectionList CollectionList--grid">

              <div class="PageReservations--opentable">
        <script type="text/javascript" src="//www.opentable.ca/widget/reservation/loader?rid=1165789&amp;type=standard&amp;theme=tall&amp;iframe=true&amp;domain=ca&amp;lang=en-CA&amp;newtab=false&amp;ot_source=Restaurant%20website"></script>        
      </div>

    <div>
      <p><b>Accessibility:</b> Brew + Bloom offers wheelchair accessibility via ramps located at both the northern and southern ends of 115 street. While we do not have our dedicated ramp, we do provide a single accessible bathroom for your convenience.</p>
      <br>
    </div>
    <div class="CollectionList CollectionList--grid">
              <div class="SectionHeader">
          <p class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1">Downtown</p>
                 <table>
          <tr>
            <td>Monday</td>
            <td>10 am - 9 pm</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>10 am - 9 pm</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>10 am - 9 pm</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>10 am - 9 pm</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>10 am - 10 pm</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>9 am - 10 pm</td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>9 am - 9 pm</td>
          </tr>
        </table>
        <div class="PageReservations--cta">
          <a href="tel:+17807070827" class="Button Button--primary">Call Downtown</a>

        </div>    
        </div>
       <div class="PageReservations--map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9481.973709156435!2d-113.5197721!3d53.5489587!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe9f08d1e2ac3230b!2sBrew%20and%20Bloom%20Cafe%20%26%20Floral%20Studio!5e0!3m2!1sen!2sca!4v1658358538632!5m2!1sen!2sca" width="600" height="500" style="border:4px solid #da5162;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
      </div>
     
    </div>
  <br>
        <div class="CollectionList CollectionList--grid">
                  <div class="SectionHeader">
          <p class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1" style="padding-right: 65px;">Southside</p>
                           <table>
          <tr>
            <td>Monday</td>
            <td>10 am - 9 pm</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>10 am - 9 pm</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>10 am - 9 pm</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>10 am - 9 pm</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>10 am - 10 pm</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>9 am - 10 pm</td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>9 am - 9 pm</td>
          </tr>
        </table>
        <div class="PageReservations--cta">

          <a href="tel:+17807070827" class="Button Button--primary">Call Southside</a>
        </div>
        </div>
       <div class="PageReservations--map">
        <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1019%20Parsons%20Road%20SW%20T6X0X2+(Brew%20+%20Bloom)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="600" height="500" style="border:4px solid #da5162; " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
      </div>
    </div>
      <div class="Reservation--badge">
          <img src = "https://cdn.shopify.com/s/files/1/0470/6612/0345/t/29/assets/Untitled%20design%20(3).png?v=1676929811">  </div>

  </div>
</div>

<style>
  .Reservation--badge {
    text-align: center;
    justify-content: center;
  }
  .PageReservations--map {
  display: flex;
  justify-content: center;
  padding-left: 30px;}

</style>